/*
/*/
!/build.sh
!/run.sh
!/clean.sh
!/src
!/src/*
!/shaders
!/shaders/*
!/create-resources.sh
!/.clang-format
!/.gitignore
!/CMakeLists.txt
!/libs/
/libs/*
!/libs/glad/
!/libs/glad/*
!/libs/stb/
!/libs/stb/*
